@page
@model TestProject.Pages.Products.importdataModel
@{
    ViewData["Title"] = "importdata";
}

<h1>importdata</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
